useDynLib(GENIE3)
export(GENIE3)
export(tlGENIE3)
export(get.link.list)
importFrom("stats", "sd", "setNames")
importFrom("utils", "flush.console")
import(foreach)
import(doRNG)
import(doParallel)
import(reshape2)
import(testthat)
